<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../css/styleDetail.css">
</head>
<body>
    <main>
        <section class="header-section">
            <div class="image-container">
                <a href="../index.html"><img src="../storage/img/atras.png" alt="" class="back-button"></a>
                <img src="../storage/img/Rectangle 4105.png" alt="" class="main-image">
            </div>
            <div class="text-container">
                <h3>Coldplay <span>: Music of the Spheres</span></h3>
                <p>Jakarta, Indonesia</p>
                <p>July 23 2023</p>
                <div class="participants-container">
                    <img src="../storage/img/Group 1.svg">
                    <p>50K+ Participants</p>
                </div>
            </div>
        </section>
        <section class="description-section">
            <div class="description-container">
                <h4>Description</h4>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <span>Read More..</span></p>
            </div>
        </section>
        <section class="map-section">
            <div class="venue-container">
                <div class="venue-text">
                    <h4>Venue & Location</h4>
                </div>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.0546543214567!2d106.799444!3d-6.218889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f15d4b0f0f0f%3A0x1234567890abcdef!2sGelora%20Bung%20Karno%20Stadium!5e0!3m2!1ses!2sid!4v1635796850589!5m2!1ses!2sid"
                    width="350" 
                    height="220" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy">
                </iframe>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <p>Start from</p>
                <h3>IDR500.000</h3>
            </div>
            <div class="footer-button">
                    <a href="views/tickets.htm">Buy Ticket</a>
            </div>
        </div>
    </footer>
</body>
</html>